<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Vet Club</title>

    <title>Rapid Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
</head>


<body>

  <header id="header">

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span>VetClub</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Inicio</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#team">Nuestro Equipo</a></li>
          <li class="drop-down"><a href=register.html>Citas</a>
            <ul>
              <li><a href="login.html">Agendar Cita</a></li> <!-- AQUI SE DEBE INICIAR SESIÓN ANTES DE SEGUIR CON TODO -->
              <li><a href="histcita.html">Historial Médico</a></li> <!-- AQUI SE DEBE INICIAR SESIÓN ANTES DE SEGUIR CON TODO -->
            </ul>
          </li>
          <li><a href="#footer">Contactenos</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>Comprometidos <br>con el cuidado de tus <span>Mascotas</span></h2>
          <div>
            <a href=InicioSesion.html class="btn-get-started scrollto">Agendar Cita</a>
          </div>
        </div>
  
        <div class="col-md-6 intro-info order-last">
          <img src="img/vettt.png" alt="" width="400" height="350">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="img/ph.jpeg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>VetClub</h2>
              <h3>Un aliado de tu mascota.</h3>
              <p>Vetclub nace tras la necesidad de brindar una atención especializada a nuestras mascotas ya que muchas veces estas no reciben los cuidados necesarios en el momento donde lo más necesitan.</p>
              <p>Por medio del software PetClub esperamos brindar una asistencia integral, óptima y responsable, con el objetivo de facilitar la vida de los clientes al agendar su cita sin salir de casa, evitando filas y con un seguimiento detallado de acuerdo a la atención brindada.</p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> Servicio especializado para las mascotas.</li>
                <li><i class="ion-android-checkmark-circle"></i> Atención rapida y eficaz.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Nuestros Servicios</h3>
          <p>En VetClub contamos con los siguientes servicios.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="login.html">Cita Médica</a></h4>
              <p class="description">Atencion especializada para cuando su mascota se encuentre enferma, adicionalmente podrás agendar tus citas médicas en el horario y con el profesional que desees, todo sujeto a la disponibilidad.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="login.html">Vacunación</a></h4>
              <p class="description">Suministramos y aplicamos vacunas para mantener a tu peludito protegido, el proceso será muy rápido y te ayudaremos a que no se te pase ni una.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="login.html">Exámenes</a></h4>
              <p class="description">Contamos con nuestro propio equipo de laboratorio para realizar los examenes que sean necesarios y poder entregar los resultados de forma agil</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="login.html">Urgencias</a></h4>
              <p class="description">Siempre a tu disposición, cuando tengas cualquier emergencia estaremos listos para atender a tu mascota, brindándole siempre los mejores servicios y cuidados.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="login.html">Odontología</a></h4>
              <p class="description">Debemos cuidar la higiene bucal de nuestras mascotas, para esto nuestro equipo se encargará de que su salud dental siempre se encuentre en orden.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
              <h4 class="title"><a href="login.html">Servicios Fúnebres</a></h4>
              <p class="description">Siempre será difícil despedir a una mascota, nosotros te facilitaremos el proceso, para que no tengas que preocuparte por nada en ese momento tan duro.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container-fluid">
        
        <header class="section-header">
          <h3>Por qué escogernos?</h3>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <div class="why-us-img">
              <img src="img/why-us.jpg" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
              <p>Nuestra empresa es un equipo humano de grandes profesionales, nuestro objetivo es que su mascota reciba la mejor atención y que usted quede totalmente satisfecho, en Vetclub no hay nada mejor que saber que se realiza un trabajo como el cliente desea. La satisfacción del cliente se convierte en la nuestra, por eso la mayoría de nuestros clientes, además de por búsquedas en Google, nos llega por recomendaciones de nuestros clientes. De todos modos nuestros argumentos para convertirnos en sus veterinarios de confianza son:
              </p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> Por nuestra experiencia, somos una veterinaria con mas de 20 años en el area.</li>
                <li><i class="ion-android-checkmark-circle"></i> Atendemos a cada mascota como si fuera nuestra. Esta es la mejor forma de poner toda la atención a disposicion del cliente.</li>
                <li><i class="ion-android-checkmark-circle"></i> No se sentirá solo, siempre tendra un especialista disponible para atender a su mascota en todo lo que haga falta.</li>
                <li><i class="ion-android-checkmark-circle"></i> Porqué entendemos que su mascota es unica, ninguna otra es igual, y le atenderemos con eso en mente.</li>
              </ul>

              
            </div>

          </div>

        </div>

      </div>
    </section>

    <!--==========================
      Team Section
    ============================-->
    <section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3>Nuestro Equipo</h3>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="img/a.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Dr. Walter White</h4>
                  <span>Veterinario</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/e.webp" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Dra. Sarah Jhonson</h4>
                  <span>Veterinaria</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/d.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Dr. William Anderson</h4>
                  <span>Veterinario</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/b.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Dra. Amanda Jepson</h4>
                  <span>Veterinaria</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials">
      <div class="container">

        <header class="section-header">
          <h3>Testimonios</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Diego Landinez</h3>
                <h4>Cliente</h4>
                <p>
                  Mi mascota se encontraba enferma debido a que no le podia dedicar tiempo gracias a los parciales y trabajos que debia realizar para ingenieria del software, gracias a VetClub se pudo curar, y yo logre pasar la materia.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Emilio Carcamo</h3>
                <h4>Cliente</h4>
                <p>
                  Increible veterinaria, salvaron las nueve vidas de mi gato, gracias a ellos pude terminar de calificar los proyectos finales sin tener que preocuparme por la atencion que le daban a mi mascota, sabia que era la mejor, igual que este proyecto.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Luis Rodriguez</h3>
                <h4>Cliente</h4>
                <p>
                  Muy buenos profesionales, se nota que tienen mucha experiencia, y de precio genial. El trato que tienen con los animales es perfecto, les tratan con mucho cariño y cuidado. Lo recomiendo 100%!!!.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Laura Jaimes</h3>
                <h4>Cliente</h4>
                <p>
                  Me siento muy segura de dejar la salud de mi hija canina en las manos de los médicos de esta clínica, son súper amables y siempre la han atendido con mucho amor y dedicación.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>Lebron James</h3>
                <h4>Cliente</h4>
                <p>
                  Me encanta como tratan a los animales. Hay mucho cariño. Ya llevé a mis dos gatos hace años. Ahora tengo de nuevo a otros dos y aunque vivo más lejos, he decidido traerlos a esta clínica. Vale la pena. Me siento segura y además son muy justas en el precio!!!
                </p>
              </div>

              <div class="testimonial-item">
                <img src="img/testimonial-6.jpg" class="testimonial-img" alt="">
                <h3>Luis Gonzalez</h3>
                <h4>Cliente</h4>
                <p>
                  Son mis veterinarias desde hace más de 20 años y todo positivo con ellas, da gusto ir al veterinario.
                </p>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->


  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-links">
                    <h4>Contactanos!</h4>
                    <p>
                      Av. 89 #20 - 131 <br>
                      Bucaramanga, Santander<br>
                      Colombia <br>
                      <strong>Teléfono:</strong> +7 607 842 6900<br>
                      <strong>Email:</strong> vetclub@info.com<br>
                    </p>
                  </div>
                </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">
              
              <h4>Envíanos un Mensaje</h4>
              <p>Para mayor información de nuestros servicios.</p>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Correo Electrónico" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                  <div class="validation"></div>
                </div>

                <div id="sendmessage">Su mensaje ha sido enviado. Muchas Gracias por contactarte con nosotros!</div>
                <div id="errormessage"></div>

                <div class="text-center"><button type="submit" title="Send Message">Enviar Mensaje</button></div>
              </form>
            </div>

          </div>

          

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>VetClub</strong>. Todos los derechos reservados
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
        -->
        Diseñado por Laura Jaimes, Luis Rodríguez y Diego Landinez</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>